include .bumpversion.cfg
include .coveragerc
include .pre-commit-config.yaml
include .readthedocs.yml
include LICENSE
include tox.ini
include README.rst
recursive-include siquant *.pyi
recursive-include scripts *.sh
recursive-include tests *.py
recursive-include docs *.bat
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs Makefile
